html {
    background-color: #6A918B;
}

body {
    margin: 0 auto;
    max-width: 1024px;
    background-color: #B9DED8;
    padding: 0 3% 3% 3%;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    background-color: #916b5cc7;
    box-shadow: rgba(27, 27, 28, 0.416) 0px 7px 29px 0px;
    border-radius:0 0 6px 6px ;
}

header img {
    width: 50px;
    height: 60px;
    display: flex;
    align-self:center;
}
h1 {
    margin-left: 0.7rem;
}

nav li {
    list-style: none;
    margin: 0 0.5rem 0 0.5rem; 
    text-align: center;
    background-color: #dca996;
    color: black; 
    padding: 0.5rem;
    font-weight: bold;
    border-radius: 6px 6px;
    border: 0.2px solid black;
}

nav li:hover {
    box-shadow: white 0 0 29px 0;
    cursor: grab;
}

nav li:active {
    box-shadow: rgba(26, 26, 26, 0.637) 5px 5px 5px 10px;
    cursor: grab;
} 
nav li a {
    text-decoration: none;
    color: black;
}

nav li span {
    color: rgb(14, 85, 9);
    text-shadow: rgb(247, 250, 246) 1px 0 10px;
}

nav ul {
    display: flex;
    justify-content: space-between;
}

nav {
    min-width: 60%;
}

footer {
    display: flex;
    flex-wrap: wrap;
    border-top: 5px  solid #916b5cc7;
    padding: 2%;
    margin-top: 2rem;
}

footer > * {
    min-width: 50%;
}

footer p:last-child {
    text-align: center;
    min-width: 100%;
}

footer p:last-child {
    border-top: 2px  solid #916b5cc7;
    padding-top: 0.6rem;
}

@media (max-width: 730px) {
    header img {
        display: none;
    }

    body {
        padding: 0.6%;
    }

    header {
        flex-direction: column;
        text-align: center;
    }

    nav ul{
        display: flex;
        flex-direction: column;
        align-content: center;
        padding: 0;
        list-style-type: none;
    }

    nav ul li {
        min-width: 90%;
        margin-bottom: 0.5rem;
    }
    h1 {
        margin: 0;
    }
}